.glide__wrap {
    margin: 0 auto;
    max-width: 75%;
    min-width: 22rem;
    padding: 1rem 0;
}
.glide__slide {
    /* border: 1px solid black; */
    height: 11rem;
    margin: 0;
    text-align: center;
    position: relative;
}

.glide__slide img {
    height: 11rem;
    min-width: 11rem;
    width: 100%;
    object-fit: cover !important;
    display: block;
}

.glide__slide h4 {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-shadow: black 1px 0 3px;
    text-align: center;
}

.glide__bullet {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.page-layout-custom {
    display: grid;
    align-items: center;
    text-align: center;
}

.page-layout-custom header {
    align-self: last baseline;
}

.page-layout-custom .abstract .block-title {
    display: none;
}

.page-layout-custom .custom-content {
    align-self: first baseline;
}

.page-layout-custom header h1 {
    font-size: 3rem;
}

.page-layout-custom .btn-primary {
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}

@media screen and (min-width: 780px) {
    .page-layout-custom header h1 {
        font-size: 4rem;
    }
    .page-layout-custom .btn-primary {
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}
